doctype html
html
  head
    title Narrow Jumbotron Template for Bootstrap
    // Bootstrap core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
  body
    .container
      header.header.clearfix
        nav
          ul.nav.nav-pills.float-right
            li.nav-item
              a.nav-link.active(href='/')
                | Home
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='/about') About
            li.nav-item
              a.nav-link(href='/contact') Contact
        h3.text-muted Express with Jade
      main(role='main')
      .container
        block content
      footer.footer
        p(class='text-center') © Company 2017
    // /container
